.header__logo {
    font-size: 16px;
    color: #000;

    font-family: "Playfair Display", serif;
}

.header__nav,
.header__phone {
    display: none;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 0;
}

@media (min-width: 770px) {
    .header__logo {
        font-size: 20px;
    }

    .header__phone {
        display: block;
        order: 1;

        color: #2d2829;

        font-family: "Circe Regular";
        font-size: 15px;
        font-weight: 700;
    }

    .header__phone:hover {
        text-decoration: underline;
    }

    .header__burger {
        margin-right: 465px;
    }

    .header {
        background: #fff;
    }

    .header__menu {
        background: #fff;
    }

    .header__promo-text {
        font-family: "Intro Script R H2 Base";
    }
}
@media (min-width:1080px){
    .header__burger{
        display: none;
    }
    .header__nav{
        display: block;
        width: 62%;
        
    }
    .header__nav-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__link{
        font-size: 13px;
        text-transform: uppercase;
        font-family: "Circe Regular";
        color: #2d2829;
    }
    .header__link:hover{
        color: #f61f5e;
    }
    .header__phone{
        margin-left: 10%;
    }
    .header__logo{
        font-size: 23px;
    }
    .header ,.header__menu{
        background: #fbebea;
    }
}