.individual__pager {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 51px;
    margin: 65px auto 20px auto;
}

.individual__pager-link {
    width: 6px;
    height: 6px;

    transition: 0.1s ease-in-out;

    border-radius: 20px;
    background-color: #ddd;
}

.individual__pager-link--last {
    width: 4px;
    height: 4px;
}

.individual__pager-link:hover {
    transform: scale(1.1);

    background-color: #f50049;
}

.individual {
    padding-bottom: 20px;

    background-color: #fbebea;
}

.individual__title {
    width: 216px;
    margin: 0 auto;
    padding: 0 0 36px 25px;

    text-align: center;

    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.individual__text {
    padding-bottom: 25px;

    text-align: center;

    font-family: "Intro Script R H2 Base";
    font-size: 22px;
}

.individual__card {
    margin-bottom: 10px;
    padding: 8px 20px 20px 20px;

    background-color: #fff;
}

.individual__card-number-text {
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
}

.individual__card-number-text {
    color: #f50049;

    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 700;
}

.individual__card-number-text {
    margin-left: 12px;
    padding-bottom: 2px;

    font-size: 16px;
}

.individual__card-number {
    margin-right: 10px;

    font-size: 38px;
}

.individual__slider-item--cherry {
    display: none;
}

.image-wrapper {
    position: relative;
    /* width: 241px; */
}

.individual__img {
    display: block;

    margin: 0 auto;
    margin-top: 20px;
}

.individual__item--md {
    display: none;
}

.image-wrapper::after {
    position: absolute;
    top: 95px;
    right: 4px;

    display: block;

    content: "1/12";

    color: #fff;

    font-family: "Circe Regular";
    font-size: 12px;
}

.individual__name-title {
    margin-bottom: 10px;

    font-family: "Circe Regular";
    font-size: 16px;
    font-weight: 700;
}

.individual__name-text {
    font-family: "Circe Regular";
    font-size: 14px;
}

.individual__price {
    margin: 20px 0 25px 0;

    text-align: center;

    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
}

.individual__button {
    margin-top: 20px;
}

.circle-img {
    margin-top: 20px;
}

.circle-card {
    position: relative;
}

.circle-card::after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 19px;

    content: "1кг";
    transform: translateX(-51%) translateY(-50%);

    color: #000;

    font-size: 14px;
    font-weight: 700;
}

.individual__name-circle {
    margin-bottom: 45px;

    text-align: center;

    font-family: "Circe Regular";
    font-size: 14px;
}

.desing-img {
    position: relative;
}

.desing-img::after {
    position: absolute;
    top: 180px;
    left: 180px;

    display: block;

    content: "1/35";

    color: #838383;

    font-size: 12px;
}

.individual__name-text--design {
    text-align: center;

    color: #2f2f2f;

    font-size: 14px;
    font-weight: 700;
}

.individual__form {
    padding-bottom: 20px;

    background: #fff;
}

.individual__form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.individual__form-title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.individual__card--last {
    margin-bottom: 0;
}

.individual__title--form {
    margin: 0;
    padding-top: 30px;

    text-align: left;
}

.individual__form-result {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.individual__form-title {
    color: #f50049;

    font-family: "Intro Script R H2 Base";
    font-size: 20px;
}

.individual__form-text {
    width: 243px;
    height: 30px;
    margin: 8px 0 10px 0;
    padding-top: 5px;

    text-align: center;

    border: 1px solid #dedede;
    border-radius: 50px;

    font-family: "Circe Regular";
}

@media (min-width: 576px) {
    .individual__title--form {
        margin: 0 auto;

        text-align: center;
    }
}

@media (min-width: 770px) {
    .individual__title {
        width: 100%;
        padding-bottom: 20px;

        font-size: 28px;
    }

    .individual__card-number-text {
        width: 100px;
    }

    .individual__card {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 350px;
    }

    .individual__pager {
        display: none;
    }

    .individual__name {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        width: 190px;
    }

    .individual__name .button {
        width: 135px;
        margin: 0;
    }

    .individual__slider-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        width: 190px;
    }

    .individual__slider-item .button {
        width: 135px;
        margin: 0;
    }

    .individual__img {
        display: none;
    }

    .individual__img--md {
        display: block;

        margin: 0;
    }

    .individual__price {
        margin: 20px 0 25px 0;
    }

    .individual__card-number-text {
        position: absolute;
        top: 20px;
        left: 30px;
    }

    .image-wrapper::after {
        display: none;
    }

    .individual__card--inner::after {
        position: absolute;
        top: 300px;
        right: 50px;

        display: block;

        content: "1/12";

        color: #000;

        font-family: "Circe Regular";
        font-size: 12px;
    }



    .image-wrapper {
        width: 210px;
    }

    .individual__name--circle .button {
        display: none;
    }

    .individual__item--md {
        display: block;
    }

    .individual__card--size-selector {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        padding-top: 150px;
    }

    .circle-card::after {
        display: none;
    }

    .individual__card--container {
        display: block;
    }

    .individual__name-circle {
        margin-bottom: 0;
        padding-top: 20px;

        text-align: left;

        font-family: "Circe Regular";
        font-size: 12px;
    }

    .individual__card-number-text {
        margin: 0;
        padding: 0;
    }

    .individual__form-text {
        width: 160px;
    }

    .individual__form-text--small {
        width: 75px;
    }

    .individual__button--small {
        width: 160px;
        margin: 0;
    }

    .individual__form-result {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .individual__price-button {
        display: none;
    }

    .individual__slider-item--cherry {
        height: 280px;

        background: url(../assets/img/desidn-cherry-md.png) no-repeat;
        background-position-x: -15px;
    }

    .individual__price {
        margin: 0;
    }

    .individual__slider-item--design {
        display: flex;
        align-items: center;

        margin-left: 25px;
        padding-top: 220px;
    }

    .individual__slider-item--marshmello {
        height: 280px;

        background: url(../assets/img/design-md.png) no-repeat;
        background-position-x: -15px;
    }

    .individual__card-number-text--last {
        background: url(../assets/img/illustartion-md.png) no-repeat;
    }

    .individual__card--last {
        display: flex;
        justify-content: flex-end;

        width: 100%;
    }

    .individual__card--last::before {
        position: absolute;
        top: 100px;
        left: 20px;

        width: 120px;
        height: 140px;

        content: "";

        background: url(../assets/img/illustartion-md.png);
    }

    .image-wrapper {
        width: 0;
    }

    .individual__price--inner {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .slider-button--last {
        margin-left: 25px;
    }

    .individual__form-container {
        align-items: flex-start;
    }

    .individual__title--form {
        padding-top: 0;
        padding-left: 25px;

        text-align: left;
    }

    .individual__slider-item--cherry:hover {
        -webkit-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
        -moz-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
        box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
    }

    .individual__slider-item--marshmello:hover {
        -webkit-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
        -moz-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
        box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
    }

    .individual__card--last::after {
        position: absolute;
        top: 300px;
        right: 50px;

        display: block;

        content: "2/35";

        color: #6d6d6d;

        font-family: "Circe Regular";
        font-size: 12px;
    }

    .individual__slider-container {
        display: flex;
    }
}

@media (min-width: 1080px) {
    .individual__title {
        font-size: 40px;
    }

    .individual__text {
        font-size: 35px;
    }

    .individual__card-number-text {
        font-size: 27px;
    }

    .individual__card-number {
        font-size: 58px;
    }

    .individual__card {
        height: 575px;
    }

    .individual__name-title {
        font-size: 20px;
    }

    .individual__name-text {
        font-size: 18px;
        width: 280px;
    }

    .desing-img {
        display: none;
    }

    .individual__card--last {
        justify-content: space-around;
    }

    .individual__price {
        font-size: 22px;
    }

    .individual__card--inner::after {
        font-size: 18px;
        top: 500px;
        right: 120px;
    }

    .individual__name-circle {
        font-size: 18px;
        padding-left: 10px;
    }

    .individual__card--last::before {
        background: url(../assets/img/individual-ill-lg.png) no-repeat;
        top: 170px;
        left: 15px;
        width: 250px;
        height: 300px;
    }

    .individual__slider-item {
        width: 320px;
        height: 430px;
    }

    .individual__slider-item--cherry {
        background: url(../assets/img/berries-lg.png)
    }

    .individual__slider-item--design {
        padding-top: 333px;
    }

    .individual__slider-item--marshmello {
        background: url(../assets/img/marsh-lg.png)
    }

    .individual__card--last {
        justify-content: flex-end;
        padding-right: 70px;
    }

    .individual__card--last .slider-button--left, .slider-button--right, .individual__slider-item {
        margin-left: 40px;
    }

    .slider-button--last {
        margin-left: 40px;
    }

    .individual__card--last::after {
        font-size: 18px;
        top: 480px;
        right: 55px;
    }

    .individual__title--form {
        font-size: 27px;
        padding-left: 65px;
    }

    .individual__form-title {
        font-size: 27px;
    }

    .individual__form-text {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid;
        width: 250px;
        text-align: left;
    }

    .individual__form-text--small {
        width: 140px;
    }

    .individual__button {
        width: 220px;
    }

    .individual__form-result {
        padding-left: 30px;
    }
}