@font-face {
    font-family: 'Intro Script R H2 Base';
    src: url('IntroScriptR-H2Base.eot');
    src: url('../assets/fonts/IntroScriptR-H2Base.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/IntroScriptR-H2Base.woff') format('woff'),
    url('../assets/fonts/IntroScriptR-H2Base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe Regular';
    src: url('Circe-Regular.eot');
    src: url('../assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Regular.woff') format('woff'),
    url('../assets/fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
ul{
    list-style: none;
}
.d-flex{
    display: flex;
}
.header__bg{
    background: #fbebea;
}
.header__menu{
    background: #ffffff;
}
.header__logo{
    font-family: 'Playfair Display', serif;
    color: #000000;
}
.container{
    margin: 0 auto;
}
.header__promo-text{
    font-family: 'Intro Script R H2 Base';
}
.header__cons-text{        
    font-family: 'Circe Regular';
}
.primary__button{
    text-transform: uppercase;
    font-family: 'Circe Regular';
}
.primary__button:hover{
    border: 1px solid #f50049;
    background-color: #fbebea;
    color: #f50049;
}
.individual__pager{
    display: flex;
    width: 51px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.individual__pager span{
    width: 6px;
    height: 6px;
    background-color: #dddddd;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .1s ease-in-out;
}
span.last-pager{
    width: 4px;
    height: 4px;
}
.individual__pager span:hover{
    background-color: #f50049;
    transform: scale(1.1);
}


@media (min-width: 320px){
    .header__logo{
        font-size: 16px;
    }
    .header__nav, .header__phone{
        display: none;
    }
    .container{
        width: 280px;
    }
    .header__menu{
        display: flex;
        justify-content: space-between;
        padding: 13px 0;
        align-items: center;
    }
    .header__promo{
        padding-top: 118px;
        background: url(../assets/img/header_cake_sm.png) no-repeat center center;
        background-position-y: -50px
    }
    .header__title{
        line-height: 35px;
        margin: 0 auto;
        display: block;
        width: 180px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .header__promo-text{
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .header__cons-text{
        font-size: 14px;
        margin-left: 10px;
        width: 200px;
    }
    .primary__button{
        font-size: 13px;
        margin: 0 auto;
        display: block;
        width: 226px;
        height: 51px;
        color: #ffffff;
        background-color: #f50049;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
        border-radius: 50px;
    }
    .header__natural{
        margin-bottom: 13px;
    }
    .header__present{
        margin-bottom: 40px;
    }
    .examples__card{
        box-sizing: border-box;
        width: 280px;
        height: 120px;
        margin-bottom: 10px;
        padding: 13px 0 0 14px;
        position: relative;
    }
    .examples__name::after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 280px;
        height: 120px;
        background-color: rgba(0,0,0,0.1);
        display: none;
    }
    .examples__card:hover  .examples__name::after{
       display: block;     
    } 
    .classic-card{
        background: url(../assets/img/classic-cake-sm.png)
    }
    .mousse-card{
        background: url(../assets/img/mousse-cake-sm.png)
    }
    .wedding-card{
        background: url(../assets/img/wedding-cake-sm.png)
    }
    .men-card{
        background: url(../assets/img/men-cake-sm.png)
    }
    .fem-card{
        background: url(../assets/img/fem-cake-sm.png)
    }
    .child-card{
        background: url(../assets/img/child-cake-sm.png);
        background-position-y: -48px
    }
    .examples__name{
        font-size: 14px;
        font-family: 'Circe Regular';
        color: #2d2829;
    }
    .examples__types{
        font-size: 12px;
        font-family: 'Circe Regular';
        color: #2d2829;
    }
    .examples{
        padding-top: 60px;
        padding-bottom: 50px;
        background-color: #fbebea;
    }
    .examples__title{
        margin: 0;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-bottom: 36px;
    }
    .individual{
        background-color: #fbebea;
        padding-bottom: 20px;
    }
    .individual__title{
        width: 216px;
        margin: 0 auto;
    }
    .individual__text{
        text-align: center;
        margin-top: 13px;
        font-family: 'Intro Script R H2 Base';
        font-size: 22px;
        margin-bottom: 25px;
    }
    .individual__card{
        padding: 8px 20px 20px 20px;
        background-color: #ffffff;
        margin-bottom: 10px;
    }
    .individual__card-title{
        display: flex;
        align-items: flex-end;
    }
    .individual__card-title {
        font-family: 'Playfair Display', serif;     
        font-weight: 700;
        color: #f50049;
        font-size: 30px;
    }
    .individual__card-title p{
        font-size: 16px;
        padding-bottom: 2px;
        margin-left: 12px;
    }
    .image-wrapper{
        position: relative;
    }
    .individual__img{
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }
    .image-wrapper::after{
        content: '1/12';
        position: absolute;
        top: 95px;
        right: 4px;
        color: #ffffff;
        display: block;
        font-size: 12px;
        font-family: 'Circe Regular';
    }
    .individual__name-title{
        font-size: 16px;
        font-family: 'Circe Regular';
        font-weight: 700;
        margin-bottom: 10px;
    }
    .individual__name-text{
        font-size: 14px;
        font-family: 'Circe Regular';
    }
    .individual__price{
        font-size: 18px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .individual__button{
        width: 180px;
    }
    .circle-img{
        margin-top: 20px;
    }
    .circle-card{
        position: relative;
    }
    .circle-card::after{
        width: 19px;
        display: block;
        content: '1кг';
        position: absolute;
        top:50%;
        left: 50%; 
        transform: translateX(-51%) translateY(-50%);
        color: #000000;
        font-size: 14px;
        font-weight: 700;
    }
    .individual__name-circle{
        text-align: center;
        font-size: 14px;
        font-family: 'Circe Regular';
        margin-bottom: 60px;
    }
    .desing-img{
        position: relative;
    }
    .desing-img::after{
        display: block;
        content: '1/35';
        position: absolute;
        top:180px;
        left: 180px; 
        color: #838383;
        font-size: 12px;
    }
    .individual__name-text_design{
        text-align: center;
        font-size: 14px;
        color: #2f2f2f;
        font-weight: 700;
    }
    .individual__form-title{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }
    .individual__form-result{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .individual__form-result span{
        font-size: 20px;
        font-family: 'Intro Script R H2 Base';
        color: #f50049;
    }
    .individual__form-result p{
        font-family: 'Circe Regular';
        height: 30px;
        width: 243px;
        text-align: center;
        border: 1px solid #dedede;
        padding-top: 5px;
        box-sizing: border-box;
        border-radius: 50px;
        margin: 8px 0px 10px 0px;
    }
    .form-button{
        margin-top: 20px;
    }
    .about-us{
        background-color: #fbebea;
    }
    .about-us__img{
        margin-top: 20px;
    }
    .about-us__feedback{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Circe Regular';
    }
    .feedback__text{
        text-align: center;
        margin-top: 7px;
        font-size: 12px;
        width: 230px;
    }
    .feedback__title{
        font-size: 14px;
        font-weight: 700;
        margin-top: 4px;
    }
    .feedback__link{
        text-decoration: underline;
        font-style: italic;
        color: #f87b91;
        position: relative;
    }
    .feedback__link::after{
        content: '1/26';
        position: absolute;
        left: 85px;
        font-style: normal;
    }
    .feedback__link:hover{
        cursor: pointer;
    }
    .social-icon{
        display: block;
        height: 36px;
        width: 36px;
        background-color: #ffffff;
        border-radius: 100px;
        text-align: center; 
        padding-top: 10px;
        box-sizing: border-box;
        transition: .1s ease-in-out;
    }
    .about-us__images{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
    }
    .about-us__social{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 140px;
        margin-left: 35px;
    }
    .social-icon:active{
        transform: scale(1.1);
    }
    .vk{
        padding-right: 4px;
        padding-top: 8px;
    }
    .about-us__confectioner{
        font-family: 'Circe Regular';
    }
    .about-us__confectione-title{
        font-family: 'Intro Script R H2 Base';
        font-size: 22px;
        margin-top: 20px;
    }
    .about-us__confectioner-text span{
        display: block;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
    }
    .about-us__confectioner-text{
        font-size: 12px;
        line-height: 14px;
    }
    .about-us__quote{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-us__quote span{
        font-size: 60px;
        color: #ffffff;
    }
    .about-us__quote p{
        font-style: italic;
        text-align: center;
        font-size: 13px;
        margin-top: 17px;
        margin-bottom: 35px;
    }
}