.pros {
    text-align: center;

    background-color: #fbebea;

    font-family: "Circe Regular";
}

.pros__title {
    margin: 0;
    padding-bottom: 36px;

    text-align: center;

    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.pros__subtitle {
    text-align: center;

    font-family: "Intro Script R H2 Base";
    font-size: 22px;
}

.pros__item-heading {
    margin-top: 15px;

    font-size: 16px;
    font-weight: 700;
}

.pros__item-text {
    margin-top: 3px;

    font-size: 14px;
}

.pros__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pros__items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 270px;
    margin-top: 20px;
    padding: 10px 0;

    background-color: #fff;
}

@media (min-width: 770px) {
    .pros__title {
        padding-bottom: 0;
    }

    .pros__items-container {
        background-color: #fbebea;
    }

    .pros__item {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;

        width: 335px;
    }

    .pros__items-container {
        align-items: flex-end;
        justify-content: center;

        padding-right: 60px;
    }

    .pros__item-wrapper {
        text-align: left;
    }

    .pros__item--present {
        width: 316px;
        margin-right: 45px;
    }

    .pros__item--ingridients {
        width: 349px;
    }

    .pros {
        position: relative;
    }

    .pros__subtitle::after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 310px;
        height: 380px;
        content: "";

        background: url(../assets/img/berries-md.png) no-repeat;
    }
}
@media (min-width: 1080px){
    .pros__title{
        font-size: 40px;
    }
    .pros__subtitle{
        font-size: 35px;
    }
    .pros__subtitle::after{
        background: url(../assets/img/berries-pros-lg.png) no-repeat;
        width: 555px;
        height: 690px;
    }
    .pros__items-container{
        height: 450px;
        padding-right: 20%;
    }
    .pros__item-heading{
        font-size: 20px;
    }
    .pros__item-text{
        font-size: 20px;
    }
    .pros__item-heading{
        width: 280px;
    }
    .pros__item-text{
        width: 400px;
    }
    .pros__item{
        display: flex;
        align-items: center;
    }
    .pros__item-wrapper{
        padding-left: 30px;
    }
    .pros__item-wrapper--ingridients{
        padding-left: 40px;
    }
}