&{
    &__card {
        position: relative;
    
        width: 280px;
        height: 120px;
        margin: 0 auto 10px auto;
        padding: 13px 0 0 14px;
    }
    
    &__name::after {
        position: absolute;
        top: 0;
        left: 0;
    
       @include hide();
    
        width: 280px;
        height: 120px;
    
        content: "";
    
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    &__card:hover &__name::after {
        display: block;
    }
    
    &__card--classic {
        background: url(../assets/img/classic-cake-sm.png);
    }
    
    &__card--mousse {
        background: url(../assets/img/mousse-cake-sm.png);
    }
    
    &__card--wedding {
        background: url(../assets/img/wedding-cake-sm.png);
    }
    
    &__card--men {
        background: url(../assets/img/men-cake-sm.png);
    }
    
    &__card--fem {
        background: url(../assets/img/fem-cake-sm.png);
    }
    
    &__card--child {
        background: url(../assets/img/child-cake-sm.png);
        background-position-y: -48px;
    }
    
    &__name {
        color: #2d2829;
    
        font-family: "Circe Regular";
        font-size: 14px;
    }
    
    &__types {
        color: #2d2829;
    
        font-family: "Circe Regular";
        font-size: 12px;
    }
    
    & {
        padding: 60px 0 50px 0;
    
        background-color: $mainBodyColor;
    }
    
    &__title {
        margin: 0;
        padding-bottom: 36px;
    
        text-align: center;
    
        font-family: $titleFont;
        font-size: 24px;
    }
    
    @media (min-width: 770px) {
        &__title {
            text-align: left;
    
            font-size: 28px;
        }
    
        &__container {
            @include flex(row, center, space-between);
            margin-bottom: 18px;
        }
    
        &__card-container {
            @include flex(column, flex-start, space-between);
            height: 390px;
        }
    
        &__card {
            width: 290px;
            height: 185px;
            margin: 0;
            padding: 20px 0 0 20px;
        }
    
        &__card--classic {
            background: url(../assets/img/classic-cake-md.png);
        }
    
        &__card--mousse {
            background: url(../assets/img/mousse-cake-md.png);
        }
    
        &__card--wedding {
            background: url(../assets/img/wedding-cake-md.png);
        }
    
        &__card--men {
            background: url(../assets/img/men-cake-md.png);
        }
    
        &__card--fem {
            background: url(../assets/img/fem-cake-md.png);
        }
    
        &__card--child {
            background: url(../assets/img/child-cake-md.png);
        }
    
        &__card--classic,
        &__card--mousse,
        &__card--wedding,
        &__card--men,
        &__card--fem,
        &__card--child {
            background-repeat: no-repeat;
        }
    
        &__card--big {
            width: 420px;
            height: 390px;
        }
    
        &__name {
            font-size: 14px;
            font-weight: 700;
        }
    
        &__types {
            font-size: 12px;
        }
    
        &__name::after {
            width: 288px;
            height: 184px;
        }
    
        &__name--big::after {
            position: absolute;
            top: 0;
            left: 0;
    
            @include hide();
    
            width: 419px;
            height: 388px;
    
            content: "";
    
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    
    @media(min-width: 1080px) {
        &{
            padding-top: 0;
        }
        &__title {
            font-size: 40px;
        }
    
        &__card--classic {
            background: url(../assets/img/classic-cake-lg.png);
        }
    
        &__card--mousse {
            background: url(../assets/img/mousse-cake-lg.png);
        }
    
        &__card--wedding {
            background: url(../assets/img/wedding-cake-lg.png);
        }
    
        &__card--men {
            background: url(../assets/img/men-cake-lg.png);
        }
    
        &__card--fem {
            background: url(../assets/img/fem-cake-lg.png);
        }
    
        &__card--child {
            background: url(../assets/img/child-cake-lg.png);
        }
    
        &__card {
            position: relative;
            width: 485px;
            height: 315px;
            margin: 0;
            padding: 20px 0 0 20px;
        }
    
        &__card--big {
            width: 695px;
            height: 655px;
        }
    
        &__card-container {
            height: 655px;
        }
    
        &__name::after {
            width: 485px;
            height: 315px;
        }
    
        &__name--big::after {
            width: 695px;
            height: 655px;
        }
        &__name{
            font-size: 24px;
            font-weight: 400;
        }
        &__types{
            font-size: 20px;
            color: #6c6869;
        }
        &__types::after{
            position: absolute;
            top: 280px;
            right: 20px;
            content: '';
            width: 20px;
            height: 17px;
            background: url(../assets/img/arrow.png) no-repeat;
        }
        &__types--lg::after{
            width: 133px;
            top: 600px;
            content: 'Смотреть';
            right: 60px;
            background-position-x: 115px;
            background-position-y: 5px;
        }
        &__types--child::after{
            content: '';
        }
    }
}