.header  {
    &__logo  {
        font-size: 16px;
        font-family: $titleFont;
        color: #000;
    }

    &__nav, &__phone  {
        @include hide();
    }

    &__menu  {
        @include flex (row, center, space-between);
    
        padding: 13px 0;
    }
    
    @media (min-width: 770px)  {
        &__logo {
            font-size: 20px;
        }
    
        &__phone {
            font-family: $mainFont;
            font-size: 15px;
            font-weight: 700;
            display: block;
            color: $navMenuColor;
            &:hover {
                text-decoration: underline;
            }
        }
        &__burger  {
            margin-right: 465px;
        }
        &, &__burger  {
            background: $headerBg;
        }
        &__promo-text  {
            font-family: $curvyFont;
        }
    }
    @media (min-width: 1080px) {
        &__burger {
            @include hide();
        }
        &__nav {
            display: block;
            width: 62%;
        }
        &__nav-wrapper {
            @include flex(row, center, space-between);
        }
        &__link {
            text-transform: uppercase;
            font-size: 13px;
            font-family: $mainFont;
            color: $navMenuColor;
            &:hover {
                color: #f61f5e;
            }
        }
        &__phone {
            margin-left: auto;
        }
        &__logo {
            font-size: 23px;
        }
        &, &__menu {
            background: $mainBodyColor;
        }
    }
}

  

