.individual {
    &__pager {
        @include flex(row, center, space-between);

        width: 51px;
        margin: 65px auto 20px auto;

        &-link {
            width: 6px;
            height: 6px;

            transition: 0.1s ease-in-out;

            border-radius: 20px;
            background-color: #ddd;
        }

        &-link--last {
            width: 4px;
            height: 4px;
        }

        &-link:hover {
            transform: scale(1.1);

            background-color: #f50049;
        }
    }

    padding-bottom: 20px;

    background-color: $mainBodyColor;

    &__title {
        width: 216px;
        margin: 0 auto;
        padding: 0 0 36px 25px;

        text-align: center;

        font-family: $titleFont;
        font-size: 24px;
    }

    &__text {
        padding-bottom: 25px;

        text-align: center;

        font-family: $curvyFont;
        font-size: 22px;
    }

    &__card {
        margin-bottom: 10px;
        padding: 8px 20px 20px 20px;

        background-color: #fff;

        &-number-text {
            @include flex(column);
        }

        &-number-text {
            color: #f50049;

            font-family: $titleFont;
            font-size: 30px;
            font-weight: 700;
        }

        &-number-text {
            margin-left: 12px;
            padding-bottom: 2px;

            font-size: 16px;
        }

        &-number {
            margin-right: 10px;

            font-size: 38px;
        }
    }

    &__slider-item--cherry {
        @include hide();
    }

    .image-wrapper {
        position: relative;
    }

    &__img {
        display: block;

        margin: 0 auto;
        margin-top: 20px;
    }

    &__item--md {
        @include hide();
    }

    .image-wrapper::after {
        position: absolute;
        top: 95px;
        right: 4px;

        display: block;

        content: "1/12";

        color: #fff;

        font-family: $mainFont;
        font-size: 12px;
    }

    &__name {
        &-title {
            margin-bottom: 10px;

            font-family: $mainFont;
            font-size: 16px;
            font-weight: 700;
        }

        &-text {
            font-family: $mainFont;
            font-size: 14px;
        }

        &-circle {
            margin-bottom: 45px;

            text-align: center;

            font-family: $mainFont;
            font-size: 14px;
        }

        &-text--design {
            text-align: center;

            color: #2f2f2f;

            font-size: 14px;
            font-weight: 700;
        }
    }


    &__price {
        margin: 20px 0 25px 0;

        text-align: center;

        font-family: $titleFont;
        font-size: 18px;
        font-weight: 700;
    }

    &__button {
        margin-top: 20px;
        @extend %button;
        @extend %button--small;
        padding-top: 20px;
    }

    .circle-img {
        margin-top: 20px;
    }

    .circle-card {
        position: relative;
    }

    .circle-card::after {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 19px;

        content: "1кг";
        transform: translateX(-51%) translateY(-50%);

        color: #000;

        font-size: 14px;
        font-weight: 700;
    }



    .desing-img {
        position: relative;
    }

    .desing-img::after {
        position: absolute;
        top: 180px;
        left: 180px;

        display: block;

        content: "1/35";

        color: #838383;

        font-size: 12px;
    }



    &__form {
        padding-bottom: 20px;

        background: #fff;

        &-container {
            @include flex(column, center)
        }

        &-title {
            font-family: $titleFont, serif;
            font-weight: 700;
        }

        &-result {
            @include flex(column, center);
        }

        &-title {
            color: #f50049;

            font-family: $curvyFont;
            font-size: 20px;
        }

        &-text {
            width: 243px;
            height: 30px;
            margin: 8px 0 10px 0;
            padding-top: 5px;

            text-align: center;

            border: 1px solid #dedede;
            border-radius: 50px;

            font-family: $mainFont;
        }
    }



    &__card--last {
        margin-bottom: 0;
    }

    &__title--form {
        margin: 0;
        padding-top: 30px;

        text-align: left;
    }

    &__circle-button {
        @extend %button;
    }

    @media (min-width: 576px) {
        &__title--form {
            margin: 0 auto;

            text-align: center;
        }
    }

    @media (min-width: 770px) {
        &__title {
            width: 100%;
            padding-bottom: 20px;

            font-size: 28px;
        }

        &__size-container {
            @include flex(row, flex-end, space-around);
            width: 100%;
        }

        &__circle-button {
            @include hide();
        }

        &__card {
            position: relative;
            @include flex(row, center, space-around);
            height: 350px;

            &-number-text {
                width: 100px;
            }
        }

        &__pager {
            @include hide();
        }

        &__name {
            @include flex(column);
            width: 190px;

            & .button {
                width: 135px;
                margin: 0;
            }
        }



        &__slider-item {
            @include flex(column);

            width: 190px;

            & .button {
                width: 135px;
                margin: 0;
            }

            &--cherry {
                height: 280px;

                background: url(../assets/img/desidn-cherry-md.png) no-repeat;
                background-position-x: -15px;
            }


            &--design {
                @include flex(column, center);
                margin-left: 25px;
                padding-top: 220px;
            }

            &--marshmello {
                height: 280px;

                background: url(../assets/img/design-md.png) no-repeat;
                background-position-x: -15px;
            }

            &--cherry:hover {
                -webkit-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
                -moz-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
                box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
            }

            &--marshmello:hover {
                -webkit-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
                -moz-box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
                box-shadow: 0px 12px 40px -1px rgba(209, 209, 209, 0.92);
            }

        }

        &__img {
            @include hide();

            &--md {
                display: block;

                margin: 0;
            }
        }

        &__price {
            margin: 20px 0 25px 0;
        }

        &__card {
            &-number-text {
                position: absolute;
                top: 20px;
                left: 30px;
            }

            &--inner::after {
                position: absolute;
                top: 300px;
                right: 50px;

                display: block;

                content: "1/12";

                color: #000;

                font-family: $mainFont;
                font-size: 12px;
            }

            &--size-selector {
                @include flex(column, center, space-around);
                width: 100%;
                height: 100%;
            }

            &--container {
                display: block;
            }

            &-number-text {
                margin: 0;
                padding: 0;
            }

            &-number-text--last {
                background: url(../assets/img/illustartion-md.png) no-repeat;
            }

            &--last {
                @include flex(row, flex-start, flex-end);
                width: 100%;
            }

            &--last::before {
                position: absolute;
                top: 100px;
                left: 20px;

                width: 120px;
                height: 140px;

                content: "";

                background: url(../assets/img/illustartion-md.png);
            }
        }

        .image-wrapper::after {
            display: none;
        }

        .image-wrapper {
            width: 210px;
        }

        &__name--circle .button {
            @include hide();
        }

        &__item--md {
            display: block;
        }

        .circle-card::after {
            @include hide();
        }

        &__name-circle {
            margin-bottom: 0;
            padding-top: 20px;

            text-align: left;

            font-family: $mainFont;
            font-size: 12px;
        }

        &__form {
            &-text {
                width: 160px;
            }

            &-text--small {
                width: 75px;
            }

            &-result {
                @include flex(row, flex-start, space-around);
            }

            &-container {
                align-items: flex-start;
            }
        }

        &__button--small {
            width: 160px;
            margin: 0;
        }



        &__price {
            margin: 0;

            &-button {
                @include hide();
            }

            &--inner {
                margin-top: 20px;
                margin-bottom: 25px;
            }
        }

        .image-wrapper {
            width: 0;
        }

        .slider-button--last {
            margin-left: 25px;
        }

        &__title--form {
            padding-top: 0;
            padding-left: 25px;

            text-align: left;
        }



        &__card--last::after {
            position: absolute;
            top: 300px;
            right: 50px;

            display: block;

            content: "2/35";

            color: #6d6d6d;

            font-family: $mainFont;
            font-size: 12px;
        }

        &__slider-container {
            @include flex();
        }
    }

    @media (min-width: 1080px) {

        &__card--last::before {
            @include hide();
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 35px;
        }


        &__card {
            height: 575px;
            margin: 20px auto;
            max-width: 1220px;

            &-number-text {
                font-size: 27px;
            }

            &-number {
                font-size: 58px;
            }

            &--last {
                justify-content: space-around;
                align-items: center;
            }

            &--inner::after {
                font-size: 18px;
                top: 500px;
                right: 120px;
            }

        }

        &__name {
            &-title {
                font-size: 20px;
            }

            &-text {
                font-size: 18px;
                width: 280px;
            }
        }

        .desing-img {
            @include hide();
        }



        &__price {
            font-size: 22px;
        }


        &__name-circle {
            font-size: 18px;
            padding-left: 10px;
        }



        &__slider-item {
            width: 320px;
            height: 430px;

            &--cherry {
                background: url(../assets/img/berries-lg.png)
            }

            &--design {
                padding-top: 333px;
            }

            &--marshmello {
                background: url(../assets/img/marsh-lg.png)
            }
        }



        &__card--last {
            justify-content: flex-end;
            padding-right: 70px;

            &::after {
                font-size: 18px;
                top: 480px;
                right: 55px;
            }
        }

        &__card--last .slider-button--left,
        .slider-button--right,
        &__slider-item {
            margin-left: 40px;
        }

        .slider-button--last {
            margin-left: 40px;
        }

        &__title--form {
            font-size: 27px;
            padding-left: 65px;
        }

        &__form {
            max-width: 1220px;
            margin: 0 auto;

            &-title {
                font-size: 27px;
            }

            &-text {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid;
                width: 250px;
                text-align: left;
            }

            &-text--small {
                width: 140px;
            }

            &-result {
                padding-left: 30px;
            }
        }

        &__button {
            width: 220px;
        }
    }

    @media (min-width: 1370px) {
        &__card--last::before {
            display: block;
            background: url(../assets/img/individual-ill-lg.png) no-repeat;
            top: 170px;
            left: 15px;
            width: 250px;
            height: 300px;
        }
    }
}